 div.img1{
    margin: 5px;
    border: 2px solid black;
    width: 300px;
    float: left;
 }
 
 div.img1:hover{
    border: 3px solid green;
 }
 div.img1 img{
    width: 100%;
    height: auto;
 }
 div.text{
    text-align: center;
    padding: 20px;
 }
