

/* .dark-background {
    --background-color: #312450;
    --surface-color: #151f2b;
    --contrast-color: #fff;
    --accent-color: #149ddd;
}
:root {
    --background-color: #5e42a6;
    --default-color:  #fff;
    --accent-color: #149ddd;
    --surface-color: #5e42a6;
    --contrast-color: #ffffff;
}
:root {
  --bs-border-color: #0dcaf0;
    --nav-color: gray;
    --nav-hover-color:  #fff;
} */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--default-font);

 }
body {
    color: var(--default-color);
    background-color: var(--background-color);
    font-family: var(--default-font);
    
    align-items: center;

    min-height: 100vh;
    min-width: 100%;

}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.dark-background {
    --background-color: #343F4F;
    --default-color: #fff;
    --heading-color: #040b14;
    --surface-color: #0dcaf0;
    --contrast-color: #ffffff;
}
:root {
    --nav-color: #a8a9b4;
    --nav-hover-color: #0dcaf0;
    /* --nav-mobile-background-color: #040b14;
    --nav-dropdown-background-color: #040b14; */
    --nav-dropdown-color: #a8a9b4;
    --nav-dropdown-hover-color: #ffffff;
}
:root {
    --background-color: #343F4F;
    --default-color: #fff;
    --heading-color: #fff;
    --accent-color: #0dcaf0;
    --surface-color: #343F4F;
    --contrast-color: #ffffff;
}
:root {
    --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Raleway", sans-serif;
    --nav-font: "Poppins", sans-serif;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}
.progress, .progress-stacked {
    --bs-progress-height: 1rem;
    --bs-progress-bg: var(--bs-secondary-bg);
    --bs-progress-border-radius: var(--bs-border-radius);
    --bs-progress-box-shadow: var(--bs-box-shadow-inset);
    --bs-progress-bar-color: #fff;
    --bs-progress-bar-bg: #0d6efd;
    --bs-progress-bar-transition: width 0.6s ease;
    display: flex;
    height: var(--bs-progress-height);
    overflow: hidden;
    font-size: var(--bs-progress-font-size);
    background-color: var(--bs-progress-bg);
    border-radius: var(--bs-progress-border-radius);
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}
div {
    display: block;
    unicode-bidi: isolate;
}

section, .section {
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 60px 0;
    overflow: clip;
    
}
 a {
    color: var(--default-color);
    list-style: none;
    text-decoration: none;
}


/* home section */
.main{
  font-size: 14px;
    position: relative;
  display: block;
  unicode-bidi: isolate;
  position: sticky;

}
.navbar {
    width: 100%;
    z-index: 9;
    position: absolute;
    top: 0;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 15px var(--accent-color);
    border: 1px solid (255,255,255,0.18);
}
.navbar a, .navbar a:focus {
    color: var(--nav-color);
    font-size: 20px;
    padding: 10px 15px;
    font-weight: 500;   
    display: flex;
    font-family: var(--nav-font);
    align-items: center;
    white-space: nowrap;
    transition: 0.4s;
    float: right;
}

.nav:hover{
    top: 20px;
    border-radius: 10px;
    color: var(--default-color);
      transition: 0.4s; 
      box-shadow: 0px -2px 30px 3px var(--accent-color);
      font-size:23px;
}
.navbar ul {
    list-style: none;
    margin: 0;
}
.home {
    width: 100%;
    min-height: 100vh;
    background: var(--background-color);
    position: relative;
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .container {
    z-index: 1;
}


/*about section*/
.section-title {
    padding-bottom: 70px;
    position: relative;
}
.abo{
border-bottom: 3px solid var(--accent-color);
width: 50px;
}
.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
} 
.about .content ul {
    list-style: none;
    padding: 0;
}
.about .content ul li {
    margin-bottom: 20px;
    
    display: flex;
    padding: 3px;
    align-items: center;
} 
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 20px;
}
.main1{
    height: 50vh;
    margin-left: 70px;
    width: 40%;
    font-size: 30px;
    color: white;
}
.wrapper{
      display: inline-flex;
    }
    .wrapper .static-txt{
      color: #fff;
      margin-top: 30px;
      font-size: 20px ;
    }
    .wrapper .dynamic-txts{
     line-height: 90px;
     height: 90px;
     overflow: hidden;  
     
    }
    .dynamic-txts li{
      list-style: none;
      width: 110px;
      font-size: 20px;
      color: var(--accent-color);
      position: relative;
      top: 0;
      animation: slider 4s steps(4) infinite;
    }
    @keyframes slider {
    100%{
       top: -360px;
    }
    }
    .dynamic-txts li span{
        position: relative;
    }
    .dynamic-txts li span::after{
      content: "";
    position: absolute;
    left: 140px;
    height: 100vh;
    width: 100%;
    animation: typing 2s steps(4) infinite;
    }
    @keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
} 
.img{
    height: 60vh;
    width: 40%;
    margin-right: 60px;
    border-radius: 50%;
}
.img .aos-init{
    margin-left: 15px;
    margin-top: 10px;
}
 .profile-img img {
    display: block;
    width: 70%;
    transition: 0.4s;
    height: 55vh;
    border: 8px solid 
color-mix(in srgb, var(--background-color), transparent );
}
.profile-img img:hover{
    box-shadow: 0px -2px 30px 3px var(--accent-color);
    
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.fluid{
    box-shadow: 0px -2px 30px var(--accent-color);
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
[data-aos].aos-animate {
    pointer-events: auto;
}
.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}
.skills .progress .skill {
    color: var(--heading-color);
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: var(--heading-font);
}
.skills .progress .skill .val {
    float: right;
    font-style: normal;
}
.skills .progress-bar-wrap {
    background: 
color-mix(in srgb, var(--default-color), transparent 90%);
    height: 10px;
}
element.style {
    width: 100%;
}
.skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    transition-behavior: normal;
    transition-duration: 0.9s;
    transition-timing-function: ease;
    transition-delay: 1ms;
    transition-property: all;
    background-color: var(--accent-color);
}
.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--bs-progress-bar-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--bs-progress-bar-bg);
    transition: var(--bs-progress-bar-transition);
}
/* about section */
.about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: var(--accent-color);
    line-height: 0;
} 
.section-title {
    padding-bottom: 60px;
    position: relative;
}
.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}
.g-4, .gy-4 {
    --bs-gutter-y: 1.4rem;
    --bs-gutter-z: 0.8rem;
}
.contact .info-wrap {
    background-color: var(--surface-color);
    box-shadow: 0px 0px 10px var(--nav-hover-color);
    padding: 30px;
}
.contact .info-item i {
    font-size: 20px;
    color: var(--accent-color);
    background: color-mix(in srgb, var(--accent-color), transparent 92%);
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
}
.contact .info-item i:hover{
  color: var(--default-color);
  background-color: var(--nav-hover-color);
  font-size: 30px;
  box-shadow: 0px 0px 10px var(--default-color);
}
form {
    display: block;
    margin-top: 21px;
    box-shadow: 0px 0px 10px  var(--nav-hover-color);
}
label {
    display: inline-block;
    cursor: default;
}
.contact .php-email-form input[type=text], .contact .php-email-form input[type=email], .php-email-form input[type=number], .contact .php-email-form textarea {
    font-size: 14px;
    padding: 10px 15px;
    box-shadow: none;
    border-radius: 0;
    color: var(--default-color);
    background-color: var(--surface-color);
    border-color:  color-mix(in srgb, var(--accent-color), transparent 80%);
}

.form-control {
    display: block;
    width: 100%;
    font-size: 10px;
    font-weight: 400;
    background-clip: padding-box;
    appearance: none;
    line-height: 1.4;
    border: 1px solid var(--bs-border-color);

}
.php-email-form .loading {
    display: none;
    background: var(--surface-color);
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
}
.php-email-form .error-message {
    display: none;
    background: #df1529;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}
.contact .php-email-form button[type=submit] {
    color: var(--contrast-color);
    /* background: var(--accent-color); */
    border: 0;
    margin-bottom: 10px;
    padding: 10px 30px;
    transition: 0.4s;
    border-radius: 50px;
}
.contact .php-email-form button[type=submit]:hover{
    box-shadow: 0px -1px 5px 2px var(--accent-color);

}
.php-email-form .sent-message {
    display: none;
    color: #ffffff;
    background: #059652;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}
.footer {
    color: var(--default-color);
    background-color: var(--background-color);
    font-size: 14px;
    padding: 40px 0;
    position: relative;
    border-top: 1px solid 
color-mix(in srgb, var(--default-color), transparent 90%);
}
.footer .scroll-top {
    font-size: 22px;
    display: flex;
    visibility: hidden;
    align-items: center;
    color: var(--accent-color);
    background: color-mix(in srgb, var(--accent-color), transparent 92%);
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    right: 15px;
    z-index: 9999;
    transition: background-color 0.3s;
}
.scroll-top.active {
    visibility: visible;
    opacity: 1;
    bottom: 15px;
}
.footer .scroll-top:hover {
    color: var(--default-color);
    background-color: var(--nav-hover-color);
    font-size: 30px;
  box-shadow: 0px 0px 10px white;
  }
.php-email-form .loading {
    display: none;
    background: var(--surface-color);
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
}
.php-email-form .error-message {
    display: none;
    background: #df1529;
    color: #ffffff;
    text-align: left;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}
.php-email-form .sent-message {
    display: none;
    color: #ffffff;
    background: #059652;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}

.align-items-center {
    align-items: center !important;
    justify-content: center !important;
}
.footer .social-links {
    margin: 0 0 80px 0;
}
.text-center {
    text-align: center !important;
}
.footer .social-links .active {
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: 
    color-mix(in srgb, var(--nav-color) 70%, rgb(36, 35, 35) 60%);
    margin: 0 2px;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    transition: 0.3s;
    color: var( --contrast-color);   
}
.footer .social-links .active:hover{
    background-color: var(--nav-hover-color);
    box-shadow: 0px 0px 10px  white;
    font-size: 30px;
    
}
