h2{
  font-size: 20px;
  padding-left: 20px;
}
nav{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .list{
    list-style: none;
    display: flex;
    margin-right: 600px;
  }
  .list>li{
    padding-left:20px;
  }
  .list>li>a{
    text-decoration:  none;
    color: blueviolet;
    font-size: 20px;
    margin: 10px;
  }
  #check{
    display:  none;
  }
  @media screen and (max-width: 720px) {
    nav .list{
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 39px;
    height: 20vh;
    background-color: yellow;
    overflow: hidden;
    }
    #check:checked ~ .list{
      height: 17vh;
    } 
  }
  